##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

anonymous_enable=YES
anon_root=<%= scope.lookupvar('root') %>
<%- if scope.lookupvar('writable') -%>
anon_umask=027
write_enable=YES
anon_upload_enable=YES
chown_uploads=NO
chown_username=<%= scope.lookupvar('chown_user') %>
<%- end -%>
<%- if scope.lookupvar('writable') and scope.lookupvar('writable_other') -%>
anon_other_write_enable=YES
delete_failed_uploads=YES
<%- end -%>
<%- if not scope.lookupvar('readable') -%>
download_enable=NO
<%- end -%>
<%- if not scope.lookupvar('listable') -%>
dirlist_enable=NO
<%- end -%>

xferlog_enable=YES
xferlog_file=<%= scope.lookupvar('logfile') %>
vsftpd_log_file=/var/log/ftp/<%= scope.lookupvar('ftpsite') %>.log

ftpd_banner=<%= scope.lookupvar('banner') %>
secure_chroot_dir=/var/run/vsftpd
pam_service_name=vsftpd
setproctitle_enable=YES
dirmessage_enable=NO
ls_recurse_enable=NO
connect_from_port_20=NO
max_clients=<%= scope.lookupvar('max_clients') %>
listen=NO
