##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://git@ubergit.debian.org/dsa/dsa-puppet.git
##

Listen 80
<% @ports.each do |port| -%>
Listen <%= port %>
<% end -%>
