GRUB_TERMINAL="serial console"
<%- if %w{storace clementi czerny csail-node01 csail-node02 wieck schumann}.include?(@hostname) then -%>
GRUB_SERIAL_COMMAND="serial --unit=1 --speed=115200 --word=8 --parity=no --stop=1"
<% else -%>
GRUB_SERIAL_COMMAND="serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1"
<% end -%>
