##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
##

Director {
  Name = <%= @director_name %>
  Password = "<%= @dir_storage_secret %>"

  TLS Enable = yes
  TLS Require = yes
  TLS Verify Peer = yes
  TLS Allowed CN = "clientcerts/<%= @director_address %>"
  <%= scope['bacula::bacula_tls_ca_certificate_file'] %>
  <%= scope['bacula::bacula_tls_server_certificate'] %>
  <%= scope['bacula::bacula_tls_server_key'] %>
}

# Send all messages to the Director,
#
Messages {
  Name = <%= @messages_name %>
  director = <%= @director_name %> = all
}
