##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
##

# worker MPM
# StartServers: initial number of server processes to start
# MinSpareThreads: minimum number of worker threads which are kept spare
# MaxSpareThreads: maximum number of worker threads which are kept spare
# ThreadLimit: ThreadsPerChild can be changed to this maximum value during a
#              graceful restart. ThreadLimit can only be changed by stopping
#              and starting Apache.
# ThreadsPerChild: constant number of worker threads in each server process
# MaxRequestWorkers: maximum number of threads
# MaxConnectionsPerChild: maximum number of requests a server process serves

# default config:
#    StartServers              2
#    MinSpareThreads          25
#    MaxSpareThreads          75
#    ThreadLimit              64
#    ThreadsPerChild          25
#    MaxRequestWorkers       150
#    MaxConnectionsPerChild    0

<IfModule mpm_worker_module>
<% if @smaller_number_of_threads -%>
    StartServers                 2
    MinSpareThreads             25
    MaxSpareThreads             75
    ThreadLimit                 64
    ThreadsPerChild             25
    MaxRequestWorkers          150
    MaxConnectionsPerChild   10000
<% else -%>
    ServerLimit                 30
    MaxRequestWorkers         1500
    ThreadsPerChild             50
    MinSpareThreads             20
    MaxSpareThreads             75
    MaxConnectionsPerChild 1000000
<% end -%>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr et
