<IfModule mod_ssl.c>
  # this is a list that seems suitable as of 2020-03, when running buster
  # (Debian 10).  It probably requires re-visiting regularly.
  # 2020-03-11
  #  https://ssl-config.mozilla.org/#server=apache&version=2.4.41&config=intermediate&openssl=1.1.1d&guideline=5.4
<% if @tls13 -%>
  SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
<% else -%>
  SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1 -TLSv1.3
<% end -%>
  SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  SSLHonorCipherOrder     off

  SSLUseStapling On

  # the default size is 32k, but we make it 1M.
  # | If more than a few SSL certificates are used for the server
  # |
  # | OCSP responses are stored in the SSL stapling cache. While the
  # | responses are typically a few hundred to a few thousand bytes in size,
  # | mod_ssl supports OCSP responses up to around 10K bytes in size. With more
  # | than a few certificates, the stapling cache size (32768 bytes in the
  # | example above) may need to be increased. Error message AH01929 will be
  # | logged in case of an error storing a response.
  # [ https://httpd.apache.org/docs/2.4/ssl/ssl_howto.html#ocspstapling ]

  SSLStaplingCache shmcb:${APACHE_RUN_DIR}/ssl_stapling(1048576)
  SSLStaplingReturnResponderErrors off
  SSLStaplingResponderTimeout 5
  SSLStaplingFakeTryLater off
</IfModule>

<IfModule mod_autoindex.c>
  IndexOptions SuppressDescription
</IfModule>

BufferedLogs On
