uid = nobody
gid = nogroup
syslog facility = daemon
socket options = SO_KEEPALIVE
reverse lookup = false
timeout = 7200

# weasel 2007-11-19
log file =  /var/log/rsyncd/rsyncd-syncproxy.log

read only = true
ignore nonreadable = true
strict modes = false

<%=
 repositories = [
  { name: 'debian',
    comment: 'Debian archive (contact mirrors@debian.org for access; see https://www.debian.org/mirror/size for size)',
  },
  { name: 'debian-debug',
    comment: 'Debug packages for Debian archive (contact mirrors@debian.org for access)',
  },
  { name: 'debian-ports',
    comment: 'Debian ports archive (contact mirrors@debian.org for access)',
  },
  { name: 'debian-security',
    comment: 'Debian security archive',
    list: false,
  },
  { name: 'debian-security-buildd-pool',
    list: false,
  },
  { name: 'debian-buildd',
    list: false,
  },
  ]

  lines = []

  repositories.each do |repo|
    varname = ('has' + @mirror_basedir_prefix + repo[:name]).gsub(/[\/-]/,'_')
    next unless has_variable?(varname) and (eval("@"+varname))

    lines << "[#{ repo[:name] }]"
    lines << "  path = #{ @mirror_basedir_prefix }#{ repo[:name] }/"
    if (repo.include?(:list) and not repo[:list])
      lines << "  list = no"
    end
    if repo.include?(:comment)
      lines << "  comment = #{ repo[:comment] }"
    end
    lines << "  auth users = *"
    lines << "  secrets file = /home/archvsync/rsyncd/#{ repo[:name] }.secrets"
    lines << ""
  end

  lines.join("\n")
%>
